/*MISE EN FORME GENERALE*/
body
{
  font-family: Arial;
}
.green-background
{
  background-color: #67C83D !important;
}

.green-font
{
  color:#484545 !important;
}

.video
{
  margin-top:80px;
}

/*NAV BAR*/
.logofb
{
  margin-top:10px;
}


/*CARROUSEL*/

h2
{
  text-align:center;
}
.caption h5, .caption h3
{
  background-color:rgba(0, 0, 0, .5);
  margin:auto;
}

.gazon
{
  padding-left:240px;
  padding-right:-500px;
  white-space: nowrap;
}

.caption h3
{
  font-size:34px;
}

.slider .indicators .indicator-item 
{
  background-color: #666666;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.slider .indicators .indicator-item.active {
  background-color: #ffffff;
}
.slider {
  width: 900px;
  margin: 0 auto;
}

.slider .indicators {
  bottom: 60px;
  z-index: 100;
  /*text-align: left*/; 
}

/*Titre*/
.titre
{
  text-align:center;
  background-color:#DFDBD2;
}

h1
{
  font-size:2.5em;
  color:#003000;
  font-family:"Arial Black", Arial;
}

h3
{
  font-size:1.75em;
  text-align:center;
}

.soustitre
{
  font-family:"Arial Black", Arial;
  color:#003000;

}

h4
{
  font-size:1em;
}

footer h5
{
  font-size:18px;
}

/*PRESENTATION*/
.presentation
{
  background-color:#EBECE4;
}

/*FOOTER*/
.horaires
{
  text-align:center;
}

/*
.footer-copyright
{
  bottom: 0%;
}
*/

footer
{
  font-family:Arial;
}